body{
    margin: 0px;
    background-color:#526779;
    font-family: Arial, Helvetica, sans-serif;
}
.main-nav{
    display: inline-flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
}
a{
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navbarre{
    background-color:#0D1D2C;
}
div#slider { width: 100%; max-width: 1000px; overflow: hidden }
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  } 
  div#slider figure img { width:20%; height: auto; float: left; }
  
  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
  }